<ion-content>
  <ion-list class="grid">
    <ion-item>
      <ion-label>Choose {{nSkills}} proficiencies:
        <p class="proficiencia">Proficiency: +{{personaje.proficiencia}}</p>
      </ion-label>
      
    </ion-item>
    <section class="celda" *ngFor="let atributo of keySkills">
      <p class="atributo">{{atributo}}</p>
      <div class="celda-atributos">

        <div class="columnas-atributos" *ngFor="let skill of skillsDisponibles[atributo]">
          <p class="skill">{{skill}}</p>

          <div class="bono-atributo">
            <p [style.color]="calcularMod(personaje.stats[atributo.toLowerCase()])<0 ? '#ff4961':'rgb(121, 121, 121)'">{{calcularMod(personaje.stats[atributo.toLowerCase()]) | signoPipe}}</p>
            <ion-icon *ngIf="skillsSeleccionadas[skill]" id="icon" name="arrow-forward-sharp"></ion-icon>
            <p *ngIf="skillsSeleccionadas[skill]" [style.color]="agregarProficiencia(personaje.stats[atributo.toLowerCase()], skillsSeleccionadas[skill])<0 ? '#ff4961':'rgb(121, 121, 121)'"> {{agregarProficiencia(personaje.stats[atributo.toLowerCase()],skillsSeleccionadas[skill]) | signoPipe}}</p>
          </div>

          <ion-checkbox id="checkbox" [(ngModel)]="skillsSeleccionadas[skill]" [disabled]="validarBack(skill) || validar() && !skillsSeleccionadas[skill]"></ion-checkbox>

        </div>
      </div>
    </section>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="guardar()" color="success">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
