* {
    max-width: 40rem;
}
.grid {
    display: grid;
    grid-template-rows: repeat(7,auto);
    background-color: #1e1e1e;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 0 5px;
}
.row {
    display: grid;
    grid-template-columns: 1fr 20px 180px;
}
.casilla-atributosRaza{
    grid-column: 3;
    align-self: end;
}
.row-doble {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.row-languages {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
}