<ion-content class="animate__backInRight">
  <section class="grid">
    <div class="row">
      <div class="casilla-select1">
        <span>Class:</span>
        <ion-select
          placeholder="Clase"
          [(ngModel)]="personaje.clase"
        >
          <ion-select-option *ngFor="let clase of keyClases">{{
            clase
          }}</ion-select-option>
        </ion-select>
      </div>
      <div class="casilla-select2">
        <span>Background:</span>
        <ion-select
          placeholder="Background"
          [(ngModel)]="personaje.background"
        >
          <ion-select-option *ngFor="let background of keyBackgrounds">{{
            background
          }}</ion-select-option>
        </ion-select>
      </div>
    </div>
    <div class="row">
      <div class="casilla-select1">
        <span>Race:</span>
        <ion-select
          placeholder="Raza"
          [(ngModel)]="personaje.raza"
          (ionChange)="subracesActivator($event)"
        >
          <ion-select-option value="{{ race }}" *ngFor="let race of keyRazas">{{
            race
          }}</ion-select-option>
        </ion-select>
      </div>

      <div class="casilla-select2" *ngIf="raza.subraces">
        <span>Subrace:</span>
        <ion-select
          placeholder="Subraza"
          [(ngModel)]="personaje.subraza"
          (ionChange)="subraceTrigger($event)"
        >
          <ion-select-option
            value="{{ subraza }}"
            *ngFor="let subraza of keySubrazas"
            >{{ subraza }}</ion-select-option
          >
        </ion-select>
      </div>
      <div>

      </div>
      <div
        *ngIf="
          personaje.raza == 'Half Elf' || personaje.raza == 'Human (variant)'
        "
        class="casilla-atributosRaza"
      >
        <ion-item detail (click)="abrirModal('Distribute race stats')">
          <p>Race atributtes</p>
        </ion-item>
      </div>
    </div>

    <div class="row">
      <div class="casilla-detalle1">
        <span>Level:</span>
        <p>{{ personaje.level }}</p>
      </div>

      <div class="casilla-detalle2">
        <span>Proficiency:</span>
        <p>+{{ personaje.proficiencia }}</p>
      </div>
    </div>

    <div>
      <ion-item detail button="true" (click)="abrirModal('Attributes')">
        <ion-label>
          <p>Attributes:</p>
          <h2>
            <strong *ngFor="let stat of status">{{ stat }} </strong>
          </h2>
        </ion-label>
      </ion-item>
    </div>
    <div *ngIf="this.personaje.stats">
      <ion-button
        (click)="AbrirPopover(true)"
        expand="block"
        fill="outline"
        shape="round"
        color="secondary"
      >
        Stats
      </ion-button>
    </div>
    <div class="row-doble">
      <ion-item
        [disabled]="
          !personaje.clase || !personaje.stats || !personaje.background
        "
        detail
        (click)="abrirModal('Skills')"
      >
        <ion-label>
          <p>Skills</p>
        </ion-label>
      </ion-item>
      <ion-item
        [disabled]="!personaje.savings || !personaje.clase || !personaje.raza"
        detail
        (click)="AbrirPopover(false)"
      >
        <ion-label>
          <p>Saving Throws</p>
        </ion-label>
      </ion-item>
    </div>
    <div class="row-languages">
      <ion-item
        [disabled]="!personaje.background"
        detail
        (click)="abrirModal('Languages')"
      >
        <ion-label><p>Languages</p></ion-label>
      </ion-item>
    </div>
  </section>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="guardar()" color="success">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
