
.grid {
    display: grid;
    grid-template-columns: 170px 1fr;
    grid-template-rows: 60px;
    justify-content: center;
    align-content: center;
    background-color: #1e1e1e;
}
.item-title {
    margin: 0;
    margin-left: 15px;
    margin-top: 15px;
    padding: 0;
    height: auto;
}
.item-togg {
    grid-column: 2;
    display: grid;
    grid-template-columns: 55px 70px;
    align-items: center;
    justify-items: flex-end;
    margin-left: 30px;

}
.item-togg p{
    grid-column: 1;
    color: #ff4961;
    width: 50px;

}
.item-togg ion-toggle {
    grid-column: 2;
}