<section class="lista">
  <div  *ngFor="let atributo of stats; let ind=index">
    <div class="celda">
      <ion-label class="atributo">{{atributo}}
        <p *ngIf="atributo>=10">(+{{modificador(atributo)}})</p>
        <p *ngIf="atributo<10">(-{{modificador(atributo)}})</p>
      </ion-label>
      <ion-select class="atributo-stat" [value]="atributos.indexOf(posicionStats[ind])" placeholder="Asignar atributo" interface="action-sheet" (ionChange)="agregarAtributo($event, ind)">
        <ion-select-option *ngFor="let stat of atributos; let i=index" [value]="i">{{stat}}</ion-select-option>
      </ion-select>
    </div>
  </div>
</section>

<ion-button [disabled]="validar()" color="secondary" expand="block" (click)="onClick()" class="animated__animated animate__slideInUp">
  <ion-icon name="save"></ion-icon>
</ion-button>