<div class="grid">
  <div class="celda" *ngFor="let stat of saves; let i = index">
    <p>{{ atributos[i] }}</p>
    <p
      *ngIf="modificador(stat, atributos[i]) != stat"
      [style.color]="personaje.proficiency < 0 ? '#ff4961' : '#545454'"
    >
      {{ stat | signoPipe }}
    </p>
    <div class="icon" *ngIf="modificador(stat, atributos[i]) != stat">
      <ion-icon name="arrow-forward-sharp"></ion-icon>
    </div>
    <p
      style="grid-column: 4"
      [style.color]="
        modificador(stat, atributos[i]) < 0 ? '#ff4961' : '#545454'
      "
    >
      {{ modificador(stat, atributos[i]) | signoPipe }}
    </p>
  </div>
</div>
